.contador{
    background-color: black;
    text-align: center;
}
.digito{
    display: inline-block;
    background-color: #17202A;
    font-size: 70px;
    color: white;
    padding: 12px;
    margin:5px;
    line-height: 70px;
}
.reloj{
    display: inline-block;
    background-color: #17202A;
    font-size: 70px;
    color: white;
    padding: 12px;
    margin:5px;
    line-height: 70px;
}